div style="margin: 0 auto; width: 680px; font-size: 52px; font-family: 'Comic Sans MS'"
  | Loadin' you a puppy, dawg...
  br
  | Hit F5 for more puppies.
img#puppyShow style="width: 100%; position: absolute; top: 0px; left: 0px;"


javascript:
  var jsoner = function (r) { return r.json(); };
  var logger = function (e) { alert('parsing failed', e)};

  var getdog = function () {
    fetch('/api/v1')
      .then(jsoner).then(function (j) {
        var random = Math.floor(Math.random() * j.puppies.length)
        var puppy = j.puppies[random];
        fetch('/api/v1/' + puppy).then(jsoner).then(function (j) {
          document.querySelector("#puppyShow").setAttribute('src', j.puppy);
        }).catch(logger);
      }).catch(logger);
  }

  document.querySelector("#puppyShow").onerror = getdog;
  getdog();
